

 <div class="row">
  <div class="col-lg-12">
    <div class="text-holder text-center " style = 'margin-top: 200px'>
      <h1> Login</h1>
    </div>
  </div>
</div>  
<div class="form-main center-block ">
  <div class="row">
    <div class="col-lg-12">
      <div *ngIf = 'loginStatus' >
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    <mat-card>
      <p style = 'font-size: 10px'>
      <mat-error>{{message}}</mat-error>
      </p>
      <form #loginForm="ngForm">
        <div class="form-group">
          <label>Username* :  </label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Enter Username"
            ngModel
          />
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Password*</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name = 'password'
                ngModel
              />
            </div>
          </div>
        
        </div>
       <div class="row">
         <div class="col-md-8" >
                  <button
                    class="login-button"
                    (click)="login(loginForm.value)"
                  >
                    Login
                  </button>
               
         </div>
         <div class="col-md-4">
         
            <ul class="account-item">
                <li><a  routerLink = '/register'>Sign-up</a></li>
              </ul>
   </div>
       </div>
       
      </form>
      </mat-card>
    </div>
  </div>
</div>