
<mat-horizontal-stepper  #stepper>
  <mat-step>
    <div class="step-one-contant">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-holder text-center">
            <h1>Hi, welcome :)</h1>
            <p>Let's start to plan your trip</p>
          </div>
        </div>
      </div>
      <div class="form-main">
        <div class="row">
          <div class="col-lg-12">
            <form #plan="ngForm">
              <div class="form-group">
                <label><img src="images/airplane.svg" alt="" />Where to?</label>
                <input
                  type="text"
                  class="form-control"
                  name="hint-text"
                  placeholder="Hint text"
                  ngModel
                />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label><img src="images/calendar.svg" alt="" />From</label>
                    <input
                      type="text"
                      class="form-control datepicker"
                      name="fromDate"
                      placeholder="dd/mm/yyyy"
                      ngModel
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>To</label>
                    <input
                      type="text"
                      class="form-control datepicker"
                      name="toDate"
                      placeholder="dd/mm/yyyy"
                      ngModel
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label
                  ><img src="images/dollor.svg" alt="" />What is the
                  budget?</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="$"
                  id="count"
                />
                <div class="budget-main">
                  <span id="one" onclick="change()">650$</span>
                  <span id="two" onclick="change()">1000$</span>
                  <span id="three" onclick="change()">1300$</span>
                  <span id="four" onclick="change()">1500$</span>
                  <span id="five" onclick="change()">2000$</span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <ul class="wizard wizard-btn">
      <li class="next">
        <button
          class="next-btn"
          (click)="getCalender(plan.value)"
          matStepperNext
        >
          Continue
        </button>
      </li>
    </ul>
  </mat-step>


  
  <mat-step>
    <div class="example-container" cdkDropListGroup>
      <div class="step-two-conatnt">
        <div class="member-box">
          <div class="member-head">
            <h2 class="heading">
              <img src="../../assets/images/users-two.svg" alt="" />Members
            </h2>
            <a href="#"
              ><img src="../../assets/images/down-angle.svg" alt=""
            /></a>
          </div>
          <div *ngFor="let trip of tripPlan">
            <div
              class="flight-data"
              cdkDropList
              [cdkDropListData]="trip.flightName"
              (cdkDropListDropped)="drop($event)"
            >
              <h2 class="heading">
                <img src="../../assets/images/airplane.svg" alt="" />Flights
              </h2>

              <ul
                cdkDrag
                class="flight-item"
                id="example2-left"
                *ngFor="let t of trip.flightName"
              >
                <li>
                  <a href="#" class="drag-btn"
                    ><span>{{ t.state }}</span
                    ><span>{{ t.amount }}</span></a
                  >
                </li>
              </ul>
           
            </div>
            
            <div
              class="flight-data"
              cdkDropList
              [cdkDropListData]="trip.hotels"
              (cdkDropListDropped)="drop($event)"
            >
              <h2 class="heading">
                <img src="../../assets/images/airplane.svg" alt="" />Hotels
              </h2>
              <ul
              cdkDrag
              class="flight-item"
              id="example2-left"
              *ngFor="let t of trip.hotels"
            >
              <li>
                <a href="#" class="drag-btn"
                  ><span>{{ t.state }}</span
                  ><span>{{ t.amount }}</span></a
                >
              </li>
            </ul>
              
             
            </div>

            <div
            class="flight-data"
            cdkDropList
            [cdkDropListData]="trip.attractions"
            (cdkDropListDropped)="drop($event)"
          >
            <h2 class="heading">
              <img src="../../assets/images/airplane.svg" alt="" />Attraction
            </h2>
            <ul
            cdkDrag
            class="flight-item"
            id="example2-left"
            *ngFor="let t of trip.attractions"
          >
            <li>
              <a href="#" class="drag-btn"
                ><span>{{ t.state }}</span
                ><span>{{ t.amount }}</span></a
              >
            </li>
          </ul>
            
           
          </div>
          </div>
        </div>

        <div class="day-box">
          <div class="main-day-area">
            <div class="btn-box">
              <a href="#" class="first-btn"
                ><img src="../../assets/images/arrow-left.png" alt=""
              /></a>
              <a href="#" class="last-btn"
                ><img src="images/arrow-right.png" alt=""
              /></a>
            </div>
            <ul class="time-items">
              <li *ngFor="let trip of tripArrayData">
                {{ trip.time }}
              </li>
            </ul>
            
            
            <div class="booking-box"  
          
         >  
              <div class="main-day" cdkDropList  [cdkDropListData]="trip.tripArrayData "  [id]="i" (cdkDropListDropped)="drop($event)"  *ngFor="let trip of tripObj ; let i = index " >

                <div
                  class="day-one"
                  
                >


                  <div class="head-booking" >
                    <h3>{{trip.day}}</h3>
                    <span>{{trip.date}}</span>
                  </div>
                  <ul class="data-main" id="example2-right" >
                    <li
                      cdkDrag
                      [cdkDragDisabled]="trip.rowDisable"
                      *ngFor="let trip of trip.tripArrayData"
                    >
                      <a *ngIf="trip.active == true" href="#">
                        <img src="../../assets/images/plane.svg" alt="" />
                        <p>
                          <span>{{ trip.state }}</span
                          ><span></span>
                        </p>
                      </a>
                      <br />
                    </li>
                  </ul>
                </div>
                <span class="total-price">800$</span>
              </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step> </mat-step>
</mat-horizontal-stepper>

